<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/1bf4567d-ace1-4d16-ac61-b01056f6dd23/resourcegroups/AssetRegistryApp/providers/Microsoft.ContainerRegistry/registries/AssetRegistryApp</ResourceId>
    <ResourceName>AssetRegistryApp</ResourceName>
    <ResourceGroup>AssetRegistryApp</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://assetregistryapp.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>